# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz
*.seed
*.csv
*.dat
*.out
*.pid


# Coveralls
coverage

# Benchmarking
benchmarks/graphs